/* =========================================
   1. External Libraries Imports
   ========================================= */
@import "leaflet/dist/leaflet.css";
@import "leaflet-geosearch/dist/geosearch.css";

/* =========================================
   2. Tailwind CSS Directives
   ========================================= */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================================
   3. Theme Variables Setup
   ========================================= */
@layer base {
  :root {
    --main-bg: #4A352F;    
    --second-bg: #d8ceb8; 
    --main-accent: #e48a4e;   
    --main-text: #4A352F;    
    --second-text: #d8ceb8;
    
  }

  .dark {
    --main-bg: #1c1917;      
    --second-bg: #4a352f;    
    
    --main-text: #000000;    
    --second-text: #d8ceb8;  
    
    --main-accent: #8b644a;  
  }
}

/* =========================================
   4. Global Styles
   ========================================= */
body {
  @apply bg-main-bg text-main-text transition-colors duration-300;
  font-family: "Kumbh Sans", sans-serif;
}

/* =========================================
   5. Leaflet Map Fixes
   ========================================= */
.leaflet-container {
  direction: rtl;
  width: 100%;
  height: 100%;
  z-index: 1;
}
